.FaceDetectSettings {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  color: lightgray;
  font-size: 0.67rem;
  line-height: 1.5rem;
}

.FaceDetectSettings select, .FaceDetectSettings input {
  margin-left: 0.5em;
  font-size: inherit;
}
